@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.swiper-slide-active {
  @media screen and (min-width: 62em) {
    & + div > div {
      height: 18rem !important;
      border-radius: 10px;
      background: #fff;
    }
  }
}

.swiper-button-prev {
  color: transparent !important;
  background: url(/assets/arrow-left.png) no-repeat !important;
}

.swiper-button-next {
  color: transparent !important;
  background: url(/assets/arrow-right.png) no-repeat !important;
}
